In [1]:
from math import log

In [2]:
log(8,2)

3.0

In [3]:
-4/14*log(4/14,2)-10/14*log(10/14,2)

0.863120568566631

In [4]:
-1/2*log(1/2,2)-1/2*log(1/2,2)

1.0

In [16]:
suma = 0
p1 = 1/1000
p2 = 1/1000
p3 = 1-p1-p2

suma = -p1*log(p1,2)-p2*log(p2,2)-p3*log(p3,2)
suma

0.022814071335501035

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("ml-bugs.csv")
df.head()

  Species  Color  Length (mm)
0   Mobug  Brown         11.6
1   Mobug   Blue         16.3
2   Lobug   Blue         15.1
3   Lobug  Green         23.7
4   Lobug   Blue         18.4

In [5]:
df.groupby("Species").count()

         Color  Length (mm)
Species
Lobug       14           14
Mobug       10           10

In [7]:
df.groupby(["Species","Color"]).count()

               Length (mm)
Species Color
Lobug   Blue             6
        Brown            2
        Green            6
Mobug   Blue             4
        Brown            4
        Green            2

Nicely done! Did you get an information gain of 0.1126? Here was how I calculated the solution:

In [8]:
def two_group_ent(first, tot):                        
    return -(first/tot*np.log2(first/tot) +           
             (tot-first)/tot*np.log2((tot-first)/tot))

tot_ent = two_group_ent(10, 24)                       
g17_ent = 15/24 * two_group_ent(11,15) +              
           9/24 * two_group_ent(6,9)                  

answer = tot_ent - g17_e

SyntaxError: invalid syntax (<ipython-input-8-d8ca246f4fbe>, line 6)

In [14]:
y.shape, X.shape

((96,), (96, 2))

In [24]:
# Import statements 
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np

# Read the data.
data = np.asarray(pd.read_csv('data_tree.csv', header=None))
# Assign the features to the variable X, and the labels to the variable y. 
X = data[:,0:2].reshape(-1, 2)
y = data[:,2].reshape(-1, 1)

# TODO: Create the decision tree model and assign it to the variable model.
# You won't need to, but if you'd like, play with hyperparameters such
# as max_depth and min_samples_leaf and see what they do to the decision
# boundary.
model = DecisionTreeClassifier()


# TODO: Fit the model.
model.fit(X, y)

# TODO: Make predictions. Store them in the variable y_pred.
# checking the ACCURACY on a training dataset is not very good thing to do
y_pred = model.predict(X) 

# TODO: Calculate the accuracy and assign it to the variable acc.
acc = accuracy_score(y,y_pred)
acc

1.0

In [22]:
data[:,2].reshape(-1, 1).shape

(96, 1)